<!--
 * @Description: 
 * @Author: zhang_weidie
 * @Date: 2021-01-08 15:43:50
 * @LastEditors: zhang_weidie
 * @LastEditTime: 2021-01-08 16:15:02
-->
<footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a target="_blank">心中有曲自然嗨丶的博客</a>
    </div>
  </div>
</footer>